{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }} id="footer">
  <div {{ bem('content', [], footer__base_class) }}>
    {# <div {{ bem('inner', [], footer__base_class) }}>

      <div {{ bem('contact', [], footer__base_class) }}>
        {% block footer__contact %}
          <span class="break"><b>Línea de atención</b> <span class="icon icon__phone"></span></span> <span class="break">Bogotá: (57 1) 307 7050</span> <span class="break">Resto del país: <b>01 8000 113390</b> <span class="icon icon__cellphone"></span> #224</span>
        {% endblock %}
      </div>

      <div {{ bem('social', [], footer__base_class) }}>
        {% block footer__social %}
          Síguenos en: <a class="facebook" href="#">Facebook</a> <a class="linkedin" href="#">LinkedIn</a>
        {% endblock %}
      </div>

    </div>
  </div> #}
  <div {{ bem('bottom', [], footer__base_class) }}>
      {% block footer__bottom %}
        {{ content }}
      {% endblock %}
  </div>
</footer>
