{% set picture_base_class = picture_base_class|default('picture') %}

<div {{ bem(picture_base_class, picture_modifiers, picture_blockname) }}>
  <picture>
    {% if sources %}
      {#
      Internet Explorer 9 doesn't recognise source elements that are wrapped in
      picture tags. See http://scottjehl.github.io/picturefill/#ie9
      #}
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      {% for source_attributes in sources %}
        <source{{ source_attributes }}/>
      {% endfor %}
      <!--[if IE 9]></video><![endif]-->
    {% endif %}
    {# The controlling image, with the fallback image in srcset. #}
    <img
      {% if image_srcset %}
        srcset="{{ image_srcset }}"
      {% endif %}
      {% if image_sizes %}
        sizes="{{ image_sizes }}"
      {% endif %}
      src="{{ image_src }}"
      {% if image_alt %}
        alt="{{ image_alt }}"
      {% endif %}
      {% if image_title %}
        title="{{ image_title }}"
      {% endif %}
    />
  </picture>

  {% include "modules/custom/esn_layouts/templates/logo/logo.twig" with {
        logo_modifiers: ['white', 'iso']
  } %}
</div>

