<li class="form-item--radio__item">
  <label for="radio{{ key }}" class="form-item--radio__item__label">
    <input id="radio{{ key }}" name="radio" type="radio" {{ radio__item.disabled }} class="form-item--radio__item__radio" {{ radio.disabled }} {{ radio.checked }}> {{ radio_item }}
  </label>
</li>


