{% set formitem_base_class = formitem_base_class|default('form-item') %}

{% set additional_attributes = {
  class: bem(formitem_base_class, formitem_modifiers, formitem_blockname),
} %}

<div {{ add_attributes(additional_attributes) }}>
  <label for="{{formitem_id}}" class="{{formitem_base_class ~ '__label' }}">{{formitem_labbel}}</label>
  {% include "@atoms/forms/input/input.twig" with {
    input_id: formitem_id,
    input_type: formitem_input_type,
    input_value: formitem_value, 
    input_placeholder: formitem_placeholder,
    input_required: formitem_required,
    input_size: formitem_size, 
    input_maxlength: formitem_maxlength
  } %}
  <div class="{{formitem_base_class ~ '__message'}}">
    {{formitem_descriotion}}
  </div>
</div>
