{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'footer__tool-item',
    'quepaso'
  ]
%}

{%  set c_clasess = content.field_b_classes|render %}
{% if c_clasess %}
  {% set striped_custom_classes = c_clasess|striptags|lower %}
  {% set split_custom_classes = striped_custom_classes|split(' ') %}
  {% for custom_class in split_custom_classes %}
    {% set clened_custom_class = [ custom_class|clean_class ] %}
    {% set classes = classes|merge(clened_custom_class) %}
  {%  endfor %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <p>{{ label }}</p>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content.field_b_cta.attributes.addClass(classes) }}
    {{ content }}
  {% endblock %}
</div>
