  <footer id="footer">
    <div class="cog--mq mq-footer">
      <div id="logo-super">
         {% if page.footer_left %}
          {{ page.footer_left }}
         {% endif %}
      </div>
         {% if page.footer %}
          {{ page.footer }}
         {% endif %}
      <div id="footer__tool">
         {% if page.footer_tool %}
          {{ page.footer_tool }}
         {% endif %}
      </div>

    </div>
      <div id="footer__contact" class="cog--flex cog--flex-between">
         {% if page.footer_contact %}
          {{ page.footer_contact }}
         {% endif %}
      </div>
      <div id="footer__terminos">
         {% if page.footer_terminos %}
          <div class="cog--mq">
          {{ page.footer_terminos }}
          </div>
         {% endif %}
      </div>
  </footer>


