{% set base_url = url('<front>')|render|split('/')|join('/') %}
<header>
  {% if page.eyebrow %}
    <div id="header__eyebrow" class="header__eyebrow cog--flex-between">
      {{ page.eyebrow }}
    </div>
  {% endif %}

  <div id="header__zona-usuario" class="cog--flex-between">
    {% if page.branding %}
      {{ page.branding }}
    {% endif %}
  </div>

  <div id="header" class="cog--flex-between">
    <div id="burguer-menu">
      <img alt="" src="{{ base_url ~ directory }}/images/mobile-menu.svg">
    </div>
    {% if page.header %}
      {{ page.header }}
    {% endif %}

    <nav id="navegacion" class="cog--flex cog--flex-between">
      {% if page.menu_desktop %}
        <div id="nav__principal">
          {{ page.menu_desktop }}
        </div>
      {% endif %}
      {% if page.menu_desktop_second %}
        <div id="nav__secundario" class="cog--flex">
          {{ page.menu_desktop_second }}
        </div>
      {% endif %}
    </nav>

    <div id="herramientas--mb">
      <div class="item-erramienta--mb">
        <img alt="" src="{{ base_url ~ directory }}/images/search.svg" width="13px;" >
      </div>
    </div>
  </div>
</header>

{% if page.menu_mobile %}
  <nav id="navigation-mb">
    <span id="close-mb" class="close"><img alt="" src="{{ base_url ~ directory }}/images/close.svg"></span>
    {{ page.menu_mobile }}
  </nav>
{% endif %}
