<li class="form-item--checkbox__item">
  <label for="checkbox{{ key }}" class="form-item--checkbox__item__label">
    <input id="checkbox{{ key }}" name="checkbox" type="checkbox" class="form-item--checkbox__item__checkbox"
      {{ checkbox_item_checked }} {{ checkbox_item_disabled }}> {{ checkbox_item }}
  </label>
</li>