{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


{%
  set classes = [
  'component',
  'component__' ~ paragraph.bundle|clean_class,
]
%}

{# Container by default. #}
{% set add_container = true %}

{# Width. #}
{% if content.field_c_width|render %}
  {% set c_width = content.field_c_width['#items'].getString() %}
  {% if c_width == 'edge2edge' %}
    {% set add_container = false %}
  {% endif %}
{% endif %}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'component-' ~ paragraph.id.value %}

{# Sets paragraph title for paragraph. #}
{% set paragraph_title = content.field_c_title|render %}

{# Sets paragraph title status for paragraph. #}
{% set paragraph_title_status = true %}
{% if 'On' in content.field_c_title_status[0] %}
  {% set paragraph_title_status = false %}
{% endif %}

{# Sets paragraph subtitle for paragraph. #}
{% set paragraph_subtitle = content.field_c_subtitle|field_value %}

{# Sets paragraph lead for paragraph. #}
{% set paragraph_lead = content.field_lead|field_value %}

{# Add custom paragraph CSS class(es). #}

{%  set c_clasess = content.field_c_classes|render %}
{% if c_clasess %}
  {% set striped_custom_classes = c_clasess|striptags|lower %}
  {% set split_custom_classes = striped_custom_classes|split(' ') %}
  {% for custom_class in split_custom_classes %}
    {% set clened_custom_class = [ custom_class|clean_class ] %}
    {% set classes = classes|merge(clened_custom_class) %}
  {%  endfor %}
{% endif %}

{% set class_container = 'cog--items cog--flex' %}
{% if add_container %}
  {% set class_container = class_container~ ' '~ 'cog--mq' %}
{% endif %}


<section{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} >
  {% if paragraph_title and paragraph_title_status %}
    <div class="component__heading">
      {% if add_container %}<div class="cog--mq">{% endif %}
        {% if paragraph_title is not empty %}
          <h2 class="component__title">{{- paragraph_title -}}</h2>
        {% endif %}
        {% if paragraph_subtitle is not empty %}
          <h3 class="component__subtitle">{{- paragraph_subtitle -}}</h3>
        {% endif %}
        {% if paragraph_lead is not empty %}
          <p class="lead"> {{- paragraph_lead -}} </p>
        {% endif %}
        {% if add_container %}</div>{% endif %}
    </div>
  {% endif %}
  <div class="component__content">
    <div class="{{ class_container }}">
      {{ content|without('field_c_title', 'field_c_title_status', 'field_c_width', 'field_c_classes') }}
    </div>
  </div>
</section>

