{% set coverage__base_class = 'coverage' %}

<div {{ bem(coverage__base_class, coverage__modifiers, coverage__blockname, coverage__extra_classes) }}>
  <div {{ bem('first', [], coverage__base_class) }}>
      <div {{ bem('image', [], coverage__base_class) }}>
          {% block coverage__img %}
              {% if coverage__image__src %}
                  {% include "@atoms/images/image/responsive-image.twig" with {
                      image_blockname: coverage__base_class,
                      output_image_tag: coverage__image__output_image_tag,
                      image_src: coverage__image__src,
                      image_alt: coverage__image__alt,
                  } %}
              {% endif %}
          {% endblock %}
      </div>
      <h2>{{ coverage__heading }}</h2>
  </div>
  <div {{ bem('second', [], coverage__base_class) }}>
      <h3>{{ coverage__label }}</h3>
      <div {{ bem('text', [], list_icon__base_class) }}>
          {{ coverage__list }}
      </div>
      {% include "@atoms/buttons/button.twig" with {
        button_content: coverage__button_text,
        button_extra_classes: ['form-modal'],
      } %}
  </div>
</div>

<div class="form-modal-wrap">
    <div class="form-modal-overlay">
        <div class="form-modal-box">
            {% include "@molecules/forms/form-box.twig" with {
                form__icon: ['form'],
                box__body: "Diligencia los siguientes datos para que un asesor se ponga en contacto contigo:",
                form__button__send: "Enviar información",
            } %}
        </div>
    </div>
</div>
