{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('lib_components_v3/libraries') }}

<div class="lib-comp-carrousel">
  <div class="lib-comp-carrousel__items">
    {% for key, item in content.field_lib_v3_carousel2_ref
      if (key|first) != '#' %}
      {# Items carrousel #}

      <div class="lib-comp-carrousel__item lib-comp-carrousel__item__{{
        key
          + 1
        }}">
        <div class="lib-comp-carrousel__card lib-comp-carrousel2__card">
          <div class="lib-comp-carrousel__content lib-comp-carrousel2__content lib-comp-carrousel__content__{{
            item.field_lib_v3_card2_background[0]['#markup']
            }}">
            <div class="lib-comp-carrousel__textwrap">
              <h2 class="lib-comp-carrousel__title">
                {{ item.field_lib_v3_card2_title }}
              </h2>
              <span class="lib-comp-carrousel__subheading">
                {{ item.field_lib_v3_card2_text_sup[0]['#context'].value }}
              </span>

              <a href=""
                class="lib-comp-button lib-comp-button__yellow lib-comp-carrousel__button">
                {{ item.field_lib_v3_card2_link[0]['#title'] }}
              </a>
            </div>
          </div>
          <div class="lib-comp-carrousel__image lib-comp-carrousel2__image">
            {{ item.field_lib_v3_card2_image }}
          </div>
        </div>
      </div>
      {# End Items carrousel #}
    {% endfor %}
  </div>
  <div class="lib-comp-carrousel__nav lib-comp-carrousel2__nav">
    {# circles #}
    {% for key, item in content.field_lib_v3_carousel2_ref
      if (key|first) != '#' %}
      <span class="lib-comp-carrousel__circle lib-comp-carrousel__circle__{{
        key
          + 1
        }}">
        {{ key }}
      </span>
    {% endfor %}
  </div>
</div>
