{% set carousel_base_class = carousel_base_class|default('carousel') %}

{% if not carousel_modifiers %}
{% set carousel_modifiers = [] %}
{% endif %}

{% if carousel_columns %}
{% set carousel_modifiers = carousel_modifiers|merge([carousel_columns]) %}
{% endif %}

{% if carousel_separator %}
{% set carousel_modifiers = carousel_modifiers|merge([carousel_separator]) %}
{% endif %}

<div {{ bem(carousel_base_class, carousel_modifiers, carousel_blockname) }}>
    <div id="{{ carousel_id }}" class="carousel__items splide"
        data-splide='{
            "pagination": "{{ splide_pagination }}",
            "arrows": "{{ splide_arrows }}",
            "gap":"3rem",
            "type":"loop",
            "autoplay": "true",
            "perPage":{{ items_per_page|default(2) }},
            "breakpoints": {
                "768": {
                    "perPage": 1
                }
            }
        }'>
        <div class="splide__track">
            <ul class="splide__list">
                {% block carousel_content %}
                {% for item in items %}
                <li class="splide__slide">
                    {% include "themes/custom/liberty_public/templates/new-components/components/organisms/carousel/_carousel-item.twig" %}
                </li>
                {% endfor %}
                {% endblock %}
            </ul>
        </div>
        {# <div class="splide__arrows splide__arrows--ltr">
            <button
                class="splide__arrow splide__arrow--prev"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track"
            >
               <
            </button>
            <button
                class="splide__arrow splide__arrow--next"
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track"
            >
                >
            </button>
        </div> #}
    </div>
</div>
