{% set accordion__base_class = 'accordion' %}
<div {{ bem(accordion__base_class) }}>
  <div {{ bem('header', accordion__header_modifiers, accordion__base_class) }}>
    <h2>
      <button type="button" aria-controls="accordion__content-{{ item_id }}" aria-expanded="false">
        <span class="accordion__heading">{{ item_heading }}
        </span>
      </button>
    </h2>
  </div>
  <div {{ bem('content', accordion__content_modifiers, accordion__base_class) }} item_id="accordion__content-{{ item_id }}"
        aria-labelledby="accordion__content-{{ item_id }}">
      {% block accordion_content %}
        <div{{ row.attributes }}>
          {{ item_body }}
        </div>
      {% endblock %}
  </div>
</div>
