{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('liberty/liberty-components') }}
{% set classes = ['lib-tabs', 'centrado'] %}

<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <ul class="tab">
      {% for key, item in items_tab_content if (key|first) != '#' %}
        {% if key == 0 %}
          <li id="tab-nav{{ key + 1 }}"
            class="tab-nav__item tab-nav tab-nav{{ key + 1 }} tab{{
            key
              + 1
            }} is-active">
            <a href="#">{{ item.tab_heading }}</a>
          </li>
        {% else %}
          <li id="tab-nav{{ key + 1 }}"
            class="tab-nav__item tab-nav tab-nav{{ key + 1 }} tab{{ key + 1 }}">
            <a href="#">{{ item.tab_heading }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for key, item in items_tab_content if (key|first) != '#' %}
        {% if key == 0 %}
          <div id="tab-item{{ key + 1 }}"
            class="tab-content__item tab-item tab-item{{ key + 1 }} tab{{
            key
              + 1
            }} is-active">
            <div class="tab_item__cards">
              <div class="card-tab">
                <div class="card-tab__icon">
                  <div class="icon-circle">
<<<<<<< HEAD
                    <img src="{{ item.content.image }}" />
=======
<img alt="" src="{{ item.content.image }}"/>

>>>>>>> main
                  </div>
                  <h3 class="card-tab__title">
                    {{ item.content.heading }}
                  </h3>
                </div>
              </div>
            </div>
            <h3 class="tab_item__title">
              {{ item.heading }}
            </h3>
            <div class="tab_item__summary">
              {{ item.summary }}
            </div>
            <div class="tab_item__link tabs_centrado">
              <a class="button" href="{{ item.link['url'] }}">
                {{ item.link['text'] }}
              </a>
            </div>
          </div>
        {% else %}
          <div id="tab-item{{ key + 1 }}"
            class="tab-content__item tab-item tab-item{{ key + 1 }} tab{{
            key
              + 1
            }}">
            <div class="tab_item__cards">
              <div class="card-tab">
                <div class="card-tab__icon">
                  <div class="icon-circle">
<<<<<<< HEAD
                    <img src="{{ item.content.image }}" />
=======
<img alt="" src="{{ item.content.image }}"/>

>>>>>>> main
                  </div>
                  <h3 class="card-tab__title">
                    {{ item.content.heading }}
                  </h3>
                </div>
              </div>
            </div>
            <h3 class="tab_item__title">
              {{ item.heading }}
            </h3>
            <div class="tab_item__summary">
              {{ item.summary }}
            </div>
            <div class="tab_item__link tabs_centrado">
              <a class="button" href="{{ item.link['url'] }}">
                {{ item.link['text'] }}
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endblock %}
</div>
