{{ attach_library('lib_v2_core/libraries') }}
{{ attach_library('lib_banner_perm_v2/libraries') }}
<div class="lib-comp-banner-main__card">
  <div class="lib-comp-banner-main__content lib-comp-banner-main__content-{{
    content.field_lib_v2_banner_main_backgro[0]['#markup']
    }}">
    <div class="lib-comp-banner-main__text-wrap">
      <span class="lib-comp-banner-main__subtitle">
        {{ content.field_lib_v2_banner_main_subhead }}
      </span>
      <h2 class="lib-comp-banner-main__title">
        {{ content.field_lib_v2_banner_main_heading }}
      </h2>
      <a href="{{ content.field_lib_v2_banner_main_link[0]['#url_title'] }}"
        class="lib-comp-button lib-comp-button-{{
        content.field_lib_v2_banner_main_link_co[0]['#markup']
        }} lib-comp-banner-main__button">
        {{ content.field_lib_v2_banner_main_link[0]['#title'] }}
      </a>
    </div>
  </div>
  <div class="lib-comp-banner-main__image">
    {{ content.field_lib_v2_banner_main_image }}
  </div>
</div>
