{{ attach_library('lib_components_v4/libraries') }}
{{ title_prefix }}
{{ title_suffix }}
<h3 class="lib-comp-carrousel__title">
  {{ content.field_lib_v4_cards_group_title }}
</h3>
<div class="lib4-comp-cardlist">
  <div class="lib4-comp-cardlist__container {{
    content.field_lib_v4_cards_group_ref[0]['#markup']
    }}">
    {% for key, item in card_group4.items %}
      {# Card Item #}
      <div class="lib4-comp-card">
        <div class="lib4-comp-card__image">
<<<<<<< HEAD
          <img src="{{ item.imagen }}"
=======
<img alt="" src="{{ item.imagen }}"

>>>>>>> main
            width="480"
            height="300"
            alt="Easy"
            loading="lazy"
            typeof="foaf:Image"
            class="image-style-large" />
        </div>
        <div class="lib4-comp-card__content">
          <h3 class="lib4-comp-card__title">
            {{ item.title }}
          </h3>
          <div class="lib4-comp-card__body">
            {{ item.desc }}
          </div>
          <a href="{{ item.link.uri }}"
            class="lib4-comp-button lib4-comp-card__button lib4-comp-button__yellow">
            {{ item.link.text }}
          </a>
        </div>
      </div>
      {# End Card Item #}
    {% endfor %}
  </div>
</div>
