{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set columns = content.field_lib_columns|render|striptags|trim|lower
%}
{%
  set classes = [
    'banner-cards',
    'banner-cards--edge2edge',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="banner-cards__banner">
      <div class="banner-cards__wrapper">
        <div class="banner-cards__container">
          <h2>{{ content.field_lib_heading }}</h2>
          {{ content.field_lib_summary }}
          {{ content.field_lib_link }}
        </div>
      </div>
      <div class="banner-cards__image">
        {{ content.field_lib_media_image }}
      </div>
    </div>

    <div class="banner-cards__items grid grid-col-{{ columns ? columns : 'auto' }}">
      {% set paragraph_items = content.field_lib_p_items %}
      {% for item in paragraph_items['#items'] %}
        <div class="banner-cards__item">
          {% if item.target_id %}
            {{ drupal_entity('paragraph', item.target_id, 'lib_icon_card') }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endblock %}
</div>
