{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


{%
  set classes = [
    'component',
    'component__' ~ paragraph.bundle|clean_class,
  ]
%}
{% set base_url = url('<front>')|render|split('/')|join('/') %}
{# Container by default. #}
{% set add_container = true %}

{# Width. #}
{% if content.field_c_width|render %}
  {% set c_width = content.field_c_width['#items'].getString() %}
    {% if c_width == 'edge2edge' %}
      {% set add_container = false %}
    {% endif %}
{% endif %}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'component-' ~ paragraph.id.value %}

{# Sets paragraph title for paragraph. #}
{% set paragraph_title = content.field_c_title|render %}
{% set paragraph_label = content.field_label|render %}

{# Sets paragraph title status for paragraph. #}
{% set paragraph_title_status = true %}
{% if 'On' in content.field_c_title_status[0] %}
  {% set paragraph_title_status = false %}
{% endif %}

{# Add custom paragraph CSS class(es). #}
{%  set c_clasess = content.field_c_classes|render %}
{% set js_slider_class = false %}
{% if c_clasess %}
  {% set striped_custom_classes = c_clasess|striptags|lower %}
  {% set split_custom_classes = striped_custom_classes|split(' ') %}
  {% for custom_class in split_custom_classes %}

    {% if custom_class|trim == 'component__card--cifras' %}
      {% set js_slider_class = 'js-slider' %}
    {% endif %}

    {% set clened_custom_class = [ custom_class|clean_class ] %}
    {% set classes = classes|merge(clened_custom_class) %}
  {%  endfor %}
{% endif %}

{% set class_container = 'cog--items cog--flex' %}
{# {% if add_container %}
   {% set class_container = class_container~ ' '~ 'cog--mq' %}
{% endif %} #}


<section{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} >
  {% if add_container %}<div class="cog--mq">{% endif %}
    <div class="cog--flex">
      {% if paragraph_title and paragraph_title_status %}
        <div class="component__heading">
          <h2 class="component__title">{{- paragraph_title -}}</h2>
        </div>
      {% endif %}
      <div class="component__content">
        <div class="{{ class_container }}">
          {% if paragraph_label %}
            <label for={{ 'cta-' ~ paragraph_id }}> {{ paragraph_label }}</label>
          {% endif %}
            <select class="select-cta" name="{{ paragraph_id }}" id="{{ 'cta-' ~ paragraph_id }}">
              <option value="0">¿Qué quieres proteger?</option>
              {% for key,value in content.field_cta['#items'] %}
                <option value="{{ value.uri|t|replace({'internal:':'','external:':''}) }}">  {{ value.title }}
                </options>
              {% endfor %}
            </select>
            <button class="button button--primary button--large">Continuar</button>
        </div>
      </div>
    </div>
  {% if add_container %}</div>{% endif %}
</section>
