{{ attach_library('hdi_portal/maintenance') }}

<header class="header">
  <div class=" container header-container">
    <div class="header-container-logo">
      <img src="{{ base_path ~ directory }}/images/maintenance/LogoHD.svg" alt="HDI Seguros">
    </div>
  </div>
</header>

<main class="landing">
  <section class="banner">
    <img src="{{ base_path ~ directory }}/images/maintenance/bannerHdi.png" alt="Somos HDI Seguros">
    <div class="img-overlay">
      <div class="section-top">
        <h2>
          Lideramos desde la empatía con nuestros intermediarios, clientes y empleados, <strong>téngalo por seguro.</strong>
        </h2>
      </div>
      <div class="section-bottom">
        <h1>
          Somos HDI Seguros
        </h1>
      </div>
    </div>
  </section>

  <h2 class="landing-help">¿Qué necesitas?</h2>

  <section class="landing-content">
    <div class="landing-content-cards">
      <article class="card-button">
        <div class="card-button-logo">
          <img src="{{ base_path ~ directory }}/images/maintenance/card1.svg" alt="Pagos en línea">
        </div>
        <h3 class="card-button-title">Pagos en línea</h3>
        <p class="card-button-description">Realiza tus pagos con PSE.</p>
        <a href="https://portal.cliente.libertyseguros.co/" class="button card-button-button">Pagar tu póliza</a>
      </article>

      <article class="card-button">
        <div class="card-button-logo">
          <img src="{{ base_path ~ directory }}/images/maintenance/card2.svg" alt="Cotiza en minutos auto">
          <img src="{{ base_path ~ directory }}/images/maintenance/card3.svg" alt="Cotiza en minutos moto">
        </div>
        <h3 class="card-button-title">Cotiza en minutos</h3>
        <p class="card-button-description">Cotiza nuestro seguro para Autos en línea, fácil y rápido.</p>
        <a href="https://tuseguro.libertyseguros.co/?utm_medium=referral&utm_source=sitio_publico&utm_campaign=canal_directo&utm_term=automovil&utm_content=tab_menu_home" class="button card-button-button">Cotizar aquí</a>
      </article>

      <article class="card-button">
        <div class="card-button-logo">
          <img src="{{ base_path ~ directory }}/images/maintenance/card4.svg" alt="Siniestros vehículos">
        </div>
        <h3 class="card-button-title">Siniestros vehículos</h3>
        <p class="card-button-description">Aquí podrás realizar el aviso de tu siniestro de vehículo.</p>
        <a href="/aviso-de-siniestros" class="button card-button-button">Reportar aquí</a>
      </article>

      <article class="card-button">
        <div class="card-button-logo">
          <img src="{{ base_path ~ directory }}/images/maintenance/card5.svg" alt="Siniestros vida, SOAT, AP y salud">
        </div>
        <h3 class="card-button-title">Siniestros vida, SOAT, AP y salud</h3>
        <p class="card-button-description">Un lugar para que realices tus solicitudes con nosotros.</p>
        <a href="https://appbpm.hdiseguros.com.co/GM_WEB_PortalV1/?" class="button card-button-button">Reportar aquí</a>
      </article>

      <article class="card-button">
        <div class="card-button-logo">
          <img src="{{ base_path ~ directory }}/images/maintenance/card6.svg" alt="Otros Siniestros">
        </div>
        <h3 class="card-button-title">Otros Siniestros</h3>
        <p class="card-button-description">Reporta siniestros de hogar, transportes, empresariales y RCE*.</p>
        <span class="card-button-description-respon"> *Responsabilidad Civil Extracontractual</span>
        <a href="https://siniestroshdi.freshservice.com/support/tickets/new" class="button card-button-button">Reportar aquí</a>
      </article>
    </div>
  </section>

  <section class="workers-content">
    <h2 class="workers-content-title">
      Somos una de las aseguradoras más importantes del mundo con
    </h2>
    <section class="cards workers-content-cards">
      <article class="card workers-content-cards-inside">
        <div>
          <img src="{{ base_path ~ directory }}/images/maintenance/Group.svg" alt="Empleados">
        </div>
        <h2>50.000+</h2>
        <p>Empleados</p>
      </article>
      <article class="card workers-content-cards-inside">
        <div>
          <img src="{{ base_path ~ directory }}/images/maintenance/Group2.svg" alt="Líneas de productos">
        </div>
        <h2>25+</h2>
        <p>Líneas de productos</p>
      </article>
      <article class="card workers-content-cards-inside">
        <div>
          <img src="{{ base_path ~ directory }}/images/maintenance/Group3.svg" alt="En primas en el mundo">
        </div>
        <h2>$28B+</h2>
        <p>En primas en el mundo</p>
      </article>
    </section>
  </section>

  <section class="footer-redes">
    <div class="footer-redes-imagenes">
      <div class="lineas-asistencia">
        <span class="green">Líneas de asistencia</span>
        <img src="{{ base_path ~ directory }}/images/maintenance/logosmartphone.png" alt="Desde cualquier operador" class="desktop">
        <span class="gray">#224</span>
      </div>
      <span>Desde cualquier operador: TIGO, Movistar, Claro, WOM</span>
      <img src="{{ base_path ~ directory }}/images/maintenance/logosm2.png" alt="Telefono" class="desktop">
      <p>
        <span><strong>Bogotá</strong></span>
        <span class="gray">60 1 307 70 50</span>
      </p>
      <p>
        <span><strong>Resto del país</strong></span>
        <span class="gray">01 8000 113390</span>
      </p>
    </div>
    <div class="footer-redes-imagenes desktop">
      <img src="{{ base_path ~ directory }}/images/maintenance/logoWat.png" alt="Whatsapp" class="desktop">
      <span>Comunícate con nuestro WhatsApp</span>
      <span class="gray">57 316 482 1802</span>
      <span class="green">Síguenos</span>
      <a href="https://www.linkedin.com//company/liberty-seguros-andes/">
        <img src="{{ base_path ~ directory }}/images/maintenance/logoln.png" alt="Linkedin" class="desktop">
      </a>
      <a href="https://www.facebook.com/LibertySegurosCO/">
        <img src="{{ base_path ~ directory }}/images/maintenance/logofb.png" alt="Facebook" class="desktop">
      </a>
    </div>
    <div class="footer-redes-imagenes logos">
      <img src="{{ base_path ~ directory }}/images/maintenance/logo-superfinanciera.png" alt="SUperfinanciera" class="img-maintenance">
      <img src="{{ base_path ~ directory }}/images/maintenance/logoFasecolda.svg" alt="Fasecolda" class="img-maintenance">
      <img src="{{ base_path ~ directory }}/images/maintenance/logotalanx.svg" alt="Talanx" class="img-maintenance">
      <img src="{{ base_path ~ directory }}/images/maintenance/logoVivaseguro.png" alt="Viva seguro" class="img-maintenance">
    </div>
  </section>

  <div class="help-overlay">
    <a href="https://api.whatsapp.com/send?phone=573164821802">
      ¿Necesitas ayuda?
      <img class="img-maintenance" src="{{ base_path ~ directory }}/images/maintenance/logowspwhite.png" alt="logoHdi">
    </a>
  </div>
</main>

<footer class="footer">
  <section class="footer-container">
    <div class="footer-content">
      <img src="{{ base_path ~ directory }}/images/maintenance/logoHdiWhite.svg" alt="HDI Seguros" class="logo">

      <div class="mobile social">
        <span class="green">Síguenos en:</span>
        <span>
          <a href="https://www.linkedin.com/company/liberty-seguros-andes/">
            <img src="{{ base_path ~ directory }}/images/maintenance/linkedin-hdi.svg" alt="Linkedin">
          </a>
          <a href="https://www.facebook.com/LibertySegurosCO/">
            <img src="{{ base_path ~ directory }}/images/maintenance/facebook-hdi.svg" alt="Facebook">
          </a>
        </span>
      </div>

      <p>
        <span class="footer-text-bold">HDI Seguros Colombia S.A.</span>
        <span class="footer-text-medium">Copyright © 2025</span>
      </p>
      <p class="footer-separator desktop">|</p>
      <p class="footer-text-book desktop">Términos de uso y privacidad</p>
    </div>
  </section>
</footer>
