<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
      <!-- Google Tag Manager -->
      {% if AH_SITE_ENVIRONMENT == 'prod' %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5QD9FLJ');</script>
      {% endif %}
      <!-- End Google Tag Manager -->

<<<<<<< HEAD
      <!--BEGIN QUALTRICS WEBSITE FEEDBACK SNIPPET-->

      <script type='text/javascript'>

      (function(){var g=function(e,h,f,g){

      this.get=function(a){for(var a=a+"=",c=document.cookie.split(";"),b=0,e=c.length;b<e;b++){for(var d=c[b];" "==d.charAt(0);)d=d.substring(1,d.length);if(0==d.indexOf(a))return d.substring(a.length,d.length)}return null};

      this.set=function(a,c){var b="",b=new Date;b.setTime(b.getTime()+6048E5);b="; expires="+b.toGMTString();document.cookie=a+"="+c+b+"; path=/; "};

      this.check=function(){var a=this.get(f);if(a)a=a.split(":");else if(100!=e)"v"==h&&(e=Math.random()>=e/100?0:100),a=[h,e,0],this.set(f,a.join(":"));else return!0;var c=a[1];if(100==c)return!0;switch(a[0]){case "v":return!1;case "r":return c=a[2]%Math.floor(100/c),a[2]++,this.set(f,a.join(":")),!c}return!0};

      this.go=function(){if(this.check()){var a=document.createElement("script");a.type="text/javascript";a.src=g;document.body&&document.body.appendChild(a)}};

      this.start=function(){var t=this;"complete"!==document.readyState?window.addEventListener?window.addEventListener("load",function(){t.go()},!1):window.attachEvent&&window.attachEvent("onload",function(){t.go()}):t.go()};};

      try{(new g(100,"r","QSI_S_ZN_7OqySgt7zlsCWp0",'https://zn7oqysgt7zlscwp0-libertyinsurance.siteintercept.qualtrics.com/SIE/?Q_ZID=ZN_7OqySgt7zlsCWp0')).start()}catch(i){}})();

      </script><div id='ZN_7OqySgt7zlsCWp0'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>

      <!--END WEBSITE FEEDBACK SNIPPET-->
=======
    <!--BEGIN QUALTRICS WEBSITE FEEDBACK SNIPPET-->
  <script type='text/javascript'>
  (function(){var g=function(e,h,f,g){
  this.get=function(a){for(var a=a+"=",c=document.cookie.split(";"),b=0,e=c.length;b<e;b++){for(var d=c[b];" "==d.charAt(0);)d=d.substring(1,d.length);if(0==d.indexOf(a))return d.substring(a.length,d.length)}return null};
  this.set=function(a,c){var b="",b=new Date;b.setTime(b.getTime()+6048E5);b="; expires="+b.toGMTString();document.cookie=a+"="+c+b+"; path=/; "};
  this.check=function(){var a=this.get(f);if(a)a=a.split(":");else if(100!=e)"v"==h&&(e=Math.random()>=e/100?0:100),a=[h,e,0],this.set(f,a.join(":"));else return!0;var c=a[1];if(100==c)return!0;switch(a[0]){case "v":return!1;case "r":return c=a[2]%Math.floor(100/c),a[2]++,this.set(f,a.join(":")),!c}return!0};
  this.go=function(){if(this.check()){var a=document.createElement("script");a.type="text/javascript";a.src=g;document.body&&document.body.appendChild(a)}};
  this.start=function(){var t=this;"complete"!==document.readyState?window.addEventListener?window.addEventListener("load",function(){t.go()},!1):window.attachEvent&&window.attachEvent("onload",function(){t.go()}):t.go()};};
  try{(new g(100,"r","QSI_S_ZN_7OqySgt7zlsCWp0","https://zn7oqysgt7zlscwp0-libertyinsurance.siteintercept.qualtrics.com/SIE/?Q_ZID=ZN_7OqySgt7zlsCWp0")).start()}catch(i){}})();

  </script>
  <div id='ZN_7OqySgt7zlsCWp0'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>
<!--END WEBSITE FEEDBACK SNIPPET-->
>>>>>>> main

    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
<style type='text/css'>
      @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

  .helpButton{
    display: none;
  }

  .embeddedServiceHelpButton .helpButton .uiButton:focus {
    outline: 1px solid #005290;
  }

  .embeddedServiceHelpButton .helpButton, .embeddedServiceSidebarMinimizedDefaultUI {
    right: 230px!important;
    bottom: 16px!important;
  }

  .embeddedServiceHelpButton{
    width: 100%!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI .content{
    padding: 0!important;
    justify-content: flex-start!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI{
    width: 113px!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI .embeddedServiceIcon{
    display: none!important;
  }

  .embeddedServiceHelpButton .helpButton .uiButton, .embeddedServiceSidebarMinimizedDefaultUI.helpButton, .embeddedServiceSidebarMinimizedDefaultUI{
    border-radius: .3rem!important;
    background-color: #ffffff!important;
    color: #1A1446!important;
<<<<<<< HEAD
    font-weight: 500!important;
=======
>>>>>>> main
    box-shadow: 0 2px 10px 0 rgba(26,20,70,0.3)!important;
    line-height: 46px!important;
    font-weight: bold !important;
    font-family: "Roboto",sans-serif!important;
    font-size: 16px!important;
    border: none!important;
    padding-right: 3rem!important;
    background-image: url(/themes/custom/liberty_public/images/icons/chat.svg)!important;
    background-repeat: no-repeat!important;
    background-position: 79% center;
    background-size: 24px!important;
    padding-left: 1rem!important;
    min-width: 7rem!important;
  }

  .dockableContainer iframe.snapins_postChat #details{
    font-family: "Roboto",sans-serif!important;
    padding: 3rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .embeddedServiceSidebarHeader.noAnimate .headerText button{
    height: 40px;
    position: absolute;
    top: 0;
    border: none!important;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .select{
    background-image: url(/themes/custom/liberty_public/images/icons/elements-icon-glyph-arrow-down-gris.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 90% center;
  }

  .embeddedServiceSidebarHeader.noAnimate .headerText{
    position: relative;
    overflow: visible;
  }

  .embeddedServiceSidebarHeader.noAnimate #headerTextLabel{
    font-family: "Roboto",sans-serif!important;
    color: #1A1446!important;
    text-transform: none!important;
    font-size: 1.1rem!important;
    font-weight: 400!important;
  }

  .embeddedServiceSidebar.layout-docked .dockableContainer{
    right: 230px!important;
  }

  .embeddedServiceHelpButton .uiButton .helpButtonLabel .message,  .embeddedServiceSidebarMinimizedDefaultUI .messageContent{
<<<<<<< HEAD
    font-weight: 500!important;
=======
>>>>>>> main
    text-overflow: initial!important;
    color: #1A1446!important;
    font-weight: 500!important;
    width: 37px!important;
    text-transform: none!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI .messageContent .message:before{
    content: 'Chat';
    display: inline;
  }

  .embeddedServiceSidebarMinimizedDefaultUI.newMessage{
    width: 120px;
  }

  .embeddedServiceSidebarMinimizedDefaultUI .messageContent{

  }

  .embeddedServiceSidebarMinimizedDefaultUI{
    min-width: 7rem!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: initial!important;
    color: #1A1446!important;
    font-weight: 500!important;
    width: 33px!important;
    font-size: 1rem;
  }

  .embeddedServiceLiveAgentStateChatAction.uiButton svg{
    fill: transparent!important;
  }

  .embeddedServiceLiveAgentStateChatAction.uiButton{
    background-image: url(/themes/custom/liberty_public/images/icons/attachments.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:center;
  }

  .embeddedServiceLiveAgentStateChatAction.uiButton.Cargar:last-child{
    background-image: url(/themes/custom/liberty_public/images/icons/send.svg);
  }

  .embeddedServiceLiveAgentStateChatAction.uiButton.Elimina{
    background-image: none;
  }

  .embeddedServiceLiveAgentStateChatAction.uiButton.Elimina svg{
    fill: #1A1446!important;
  }

  .embeddedServiceLiveAgentStateChatInputFooter .fileUploadControls {
    display: flex;
    position: relative;
    background-color: #99E5EA!important;
    width: 100%;
    align-items: center;
    margin: .3rem 0;
    border-radius: 25px;
  }

  .embeddedServiceLiveAgentStateChatInputFooter .fileIcon{
    display: none;
  }

  .embeddedServiceHelpButton .helpButtonDisabled{
    background-position: 85% center!important;
    width: 165px;
    text-align: left;
  }

  .embeddedServiceHelpButton .helpButtonDisabled .helpButtonLabel{
    display: block;
  }

  .embeddedServiceLiveAgentStateChatInputFooter .fileInfo{
    flex-direction: row!important;
    align-items: center;
  }

  .embeddedServiceSidebarButton .label{
    color: #1A1446!important;
    font-weight: 500!important;
  }

  .embeddedServiceHelpButton .helpButtonDisabled .helpButtonLabel .message{
    width: 95px!important;
    line-height: 47px;
  }

  .embeddedServiceLiveAgentStateChatHeader .content {
    justify-content: flex-start;
    height: 439px;
  }

  .label{
    text-transform: none!important;
  }

  .embeddedServiceLiveAgentStateChatInputFooter .chasitorText.textAreaIsFocused{
    border: none!important;
  }

  .embeddedServiceHelpButton .embeddedServiceIcon{
    display: none!important;
  }

  .embeddedServiceLiveAgentStateChat .messageArea:focus{
    border: none!important;
  }

  .embeddedServiceHelpButton .helpButton .uiButton:hover{
    background-color: #ffffff!important;
  }

  .prechatFields .required{
    display: none;
  }

  .prechatFields > div .uiInputSelect:last-child,  .prechatFields > div .uiOutputText:last-child{
    display: none;
  }

  .embeddedServiceHelpButton .helpButton .uiButton:hover:before{
    display: none;
  }

  .dockableContainer .cChatService_cmp .input,  .dockableContainer .cChatService_cmp .select{
    width: 100%;
    height: 40px!important;
    border-radius: .3em;
    font-size: .8em;
    padding: .4em;
    border: 0;
    color: #343741!important;
    box-sizing: border-box;
    outline: 0;
    border-bottom: none!important;
<<<<<<< HEAD
    border: 1px solid #C0BFC0!important;
=======
>>>>>>> main
    background-color: transparent!important;
    font-family: "Roboto",sans-serif!important;
    -webkit-appearance: none;
    padding-right: 2rem;
  }

  .queuePositionMessage p{
    display: none!important;
  }

  .queuePositionCounter, .queuePositionNumber{
    display: none!important;
  }

  .uiOutputText{
    color: #343741!important;
    font-weight: normal!important;
  }

  .dockableContainer .cChatService_cmp .input::placeholder, .dockableContainer .cChatService_cmp .select::placeholder{
    color: transparent;
  }

  .dockableContainer .cChatService_cmp .select.selected{
    color: #343741!important;
  }

  .embeddedServiceSidebarHeader .embeddedServiceIcon svg{
    fill: #1A1446!important;
  }

  .prechatFields > div{
    margin-top: 0!important;
    margin-right: 1.4rem!important;
      margin-left: 1.4rem!important;
        display: grid;
    grid-template-areas:
      'labeluno labeluno labeluno labeluno'
      'inputuno inputuno inputuno inputuno'
      'labeldos labeltres labeltres labeltres'
      'inputdos inputtres inputtres inputtres'
      'labelcuatro labelcuatro labelcuatro labelcuatro'
      'inputcuatro inputcuatro inputcuatro inputcuatro'
      'labelcinco labelcinco labelcinco labelcinco'
      'inputcinco inputcinco inputcinco inputcinco';
    grid-gap: 10px;
    grid-row-gap: 5px;
  }

  span[data-aura-rendered-by="37:115;a"], .prechatFields > div > span:nth-of-type(2){
    grid-area: labeluno;
  }

  div[data-aura-rendered-by="273:0"], .prechatFields > div > div:nth-of-type(1){
    grid-area: inputuno;
  }

  span[data-aura-rendered-by="50:115;a"], .prechatFields > div > span:nth-of-type(4){
    grid-area: labeldos;
  }

  div[data-aura-rendered-by="282:0"], .prechatFields > div > div:nth-of-type(2){
    grid-area: inputdos;
  }

  span[data-aura-rendered-by="65:115;a"], .prechatFields > div > span:nth-of-type(6){
    grid-area: labeltres;
  }

  div[data-aura-rendered-by="291:0"], .prechatFields > div > div:nth-of-type(3){
    grid-area: inputtres;
  }

  span[data-aura-rendered-by="76:115;a"], .prechatFields > div > span:nth-of-type(7){
    grid-area: labelcuatro;
  }

  div[data-aura-rendered-by="300:0"], .prechatFields > div > div:nth-of-type(4){
    grid-area: inputcuatro;
  }

  span[data-aura-rendered-by="87:115;a"], .prechatFields > div > span:nth-of-type(8){
    grid-area: labelcinco;
  }

  div[data-aura-rendered-by="309:0"], .prechatFields > div > div:nth-of-type(5){
    grid-area: inputcinco;
  }

  span[data-aura-rendered-by="98:115;a"], .prechatFields > div > span:nth-of-type(9){
    display: none;
  }

  .cChatService_cmp .prechatFields .titulo:before{
    content: "¡Hola!";
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 4px;
  }

  .embeddedServiceLiveAgentStateChatItem.chatMessage{
    background-color: #E6F8FA!important;
  }

  .embeddedServiceLiveAgentStateChat .messageArea{
    padding-top: 20px!important;
      background-color: #E6F8FA!important;
  }

  .embeddedServiceLiveAgentStateChatHeader.alert .message {
    background-color: rgba(255, 255, 255, 0.9215686274509803);
    margin-top: -55px;
<<<<<<< HEAD
    line-height: 18px;
    padding: 10px;
    position: absolute;
    font-size: 13px;
=======
    position: absolute;
>>>>>>> main
    top: 54px;
    height: 440px;
    left: 0;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .cChatService_cmp .prechatFields .titulo{
    font-size: .9rem!important;
    padding: 0;
    text-align: center!important;
    display: block;
    font-family: "Roboto",sans-serif!important;
  }

  .startButtonWrapper{
    margin: 1.4rem;
    margin-top: 9px;
  }

  .startButtonWrapper .customButton{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    box-shadow: none;
    text-shadow: none;
    line-height: 40px!important;
    border: none;
    background: #99E5EA!important;
    padding-top: 0!important;
  }

  .startButtonWrapper .customButton:focus, .startButtonWrapper .customButton:hover{
    color: #1A1446!important;
    text-shadow: none!important;
  }

  .uiButton--default:hover .label, .uiButton--default:focus .label {
    color: #1A1446!important;
    text-shadow: none!important;
  }

  /* .embeddedServiceSidebar.layout-docked .dockableContainer{
    max-height: 550px!important;
  } */

  .embeddedServiceSidebarHeader .shortHeaderContent{
    background-color: #ffffff;
  }

  .cChatService_cmp .uiOutputText{
    margin: 0!important;
  }

  .cChatService_cmp .uiInput{
    margin-bottom: 7px!important;
  }

  .uiButton--default .label{
    text-transform: none!important;
  }

  .embeddedServiceSidebarExtendedHeader{
    color: #1A1446!important;
    background-color: #fff!important;
    font-family: "Roboto",sans-serif!important;
  }

  .embeddedServiceLiveAgentStateWaitingHeader .waitingGreeting {
    font-size: 1.56rem!important;
  }

  .embeddedServiceSidebarDialogState #dialogTextBody{
    display: none;
  }

  .embeddedServiceSidebarDialogState #dialogTextTitle {
    color: #1A1446!important;
    font-size: 1.5rem!important;
    font-family: "Roboto",sans-serif!important;
    font-weight: 500!important;
  }

  .embeddedServiceSidebarButton.dialog-button-0 .label {
    font-family: "Roboto",sans-serif!important;
    color: #1A1446!important;
    font-weight: 500!important;
  }

  .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .queuePositionNumber, .embeddedServiceLiveAgentQueuePosition .queuePositionMessage, .embeddedServiceLiveAgentQueuePosition .embeddedServiceIcon>svg{
    display: none;
  }

  .embeddedServiceLiveAgentStateWaitingHeader .waitingMessage{
    margin-top: 3px!important;
  }

  .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus{
    background-color: transparent!important;
    box-shadow: none!important;
  }

  .embeddedServiceSidebarButton.uiButton--inverse .label{
    color: #1A1446!important;
    font-weight: 400;
    font-family: "Roboto",sans-serif!important;
  }

  .embeddedServiceSidebarButton.uiButton--inverse{
    margin-bottom: 50px;
  }

  .embeddedServiceHelpButton .helpButton .helpButtonEnabled:focus::before{
    display: none!important;
  }

  div[data-aura-class="embeddedServiceLiveAgentStateWaitingHeader"]{
    display: block!important;
  }

  /* .embeddedServiceLiveAgentStateChatHeader{
        height: 0;
      overflow: hidden;
  } */

  .embeddedServiceSidebarExtendedHeader{
    background-color: transparent!important;
  }

  .embeddedServiceSidebarExtendedHeader .agentInfo, .embeddedServiceSidebarExtendedHeader .chatOptions{
    display: none;
  }

  .embeddedServiceLiveAgentStateChatHeader:not(.alert) .message{
    color: transparent;
  }

  .embeddedServiceSidebarButton.dialog-button-0 {
    background: #99E5EA!important;
    font-family: "Roboto",sans-serif!important;
    height: 40px!important;
  }

  .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {
    background: #F2FEFF!important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
    margin-top: 5px;
  }

  .embeddedServiceLiveAgentStateChatBubble.chasitor .chatContent{
    background: #ffffff!important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
    margin-top: 5px;
  }

  .embeddedServiceLiveAgentStateChatFileTransferMessage .fileIcon.embeddedServiceIcon>svg>g>path:first-of-type{
    fill: #99E5EA!important;
  }

  .embeddedServiceLiveAgentStateChatFileTransferMessage .fileIcon.embeddedServiceIcon>svg>path{
    fill: #1A1446!important;
  }

  .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton{
    background-color: #99E5EA!important;
    font-family: 'Roboto slab', sans-serif!important;
  }

  .embeddedServiceLiveAgentStateChatFileTransferMessage .fileInfo .fileDescription{
    font-size: .8rem;
    color: #27a2ae!important;
  }

  .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
    background: #fff!important;
    color: #333!important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
    margin-top: 5px;
  }

  .prechatFields .uiOutputText:first-child {
    color: lime;
  }

  /*div[data-aura-class="embeddedServiceSidebarHeader"] .extendedHeader{
    display: none;
  }*/

  div[data-aura-class="embeddedServiceLiveAgentStateWaiting"] .extendedHeader{
    display: block;
  }

  .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
      background-color: #e6f8fa!important;
  }

  .embeddedServiceLiveAgentStateChatInputFooter.dynamicResizeTextOneRow .chasitorText {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  }

  .embeddedServiceSidebarButton:focus{
    box-shadow: none!important;
    text-decoration: none!important;
  }

  .embeddedServiceSidebarHeader .headerItem:focus:after{
    border: none!important;
  }

  .embeddedServiceSidebarMinimizedDefaultUI.newMessage .minimizedText>.message{
    width: 33px!important;
    font-size: 1rem;
  }

  .d-none{
    display: none!important;
  }

  .prechatFields > div > br

  br[data-aura-rendered-by="11:115;a"], br[data-aura-rendered-by="7:115;a"], .prechatFields > br:nth-of-type(1), .prechatFields > br:nth-of-type(2){
    display: none;
  }

  #blocks-necesecitas-ayuda .menu li a.chat {
    display: block!important;
  }

  .dockableContainer .cChatService_cmp input.inputrequired, .dockableContainer .cChatService_cmp .select.inputrequired {
    background-color: rgba(233, 34, 67, 0.10980392156862745)!important;
    border-color: #E92243!important;
  }

  .embeddedServiceLiveAgentStateChatEventMessage .eventMessage>.uiOutputRichText{
    padding:0 0px!important;
  }

  @media (max-width: 480px) {
    .embeddedServiceSidebar.modalContainer {
      z-index: 9999999;
    }
    .embeddedServiceHelpButton .helpButton, .embeddedServiceSidebarMinimizedDefaultUI {
      right: 90px!important;
      bottom: 16px!important;
    }

    .embeddedServiceLiveAgentStateChat .messageArea{
      max-height: calc(100vh - 50px)!important;
    }

    .embeddedServiceSidebar .activeFeature{
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -webkit-backface-visibility: hidden;
      height: calc(90vh - 85px)!important;
    }


    .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
      position: absolute;
      width: 100%;
      height: auto;
      background-color: #ededed;
      border-radius: 0 0 8px 8px;
      bottom: 50px;
      z-index: 999999999;
    }

    .embeddedServiceSidebar.layout-docked .dockableContainer{
      right: 0!important;
      min-height: 100vh!important;
      width: 100%!important;
      border-radius: 0!important;
      height: auto!important;
      -webkit-overflow-scrolling: touch;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      margin-top: 0;
    }

    .embeddedServiceSidebarHeader .shortHeader{
      border-radius: 0!important;
    }

    .embeddedServiceSidebarHeader{
      border-radius: 0!important;
    }
  }

  .minimizeButton {
    margin-bottom: 0;
    position: relative !important;
    left: -220px !important;
    background-image: url("/themes/custom/liberty_public/images/icons/minimize.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 14px!important;
    background-position: center!important;
  }

  .minimizeButton:focus {
    box-shadow: none !important;
    outline: none;
  }

  .closeButton {
    margin-bottom: 0;
    background-image: url("/themes/custom/liberty_public/images/icons/close.svg") !important;
    background-repeat: no-repeat !important;
    padding-left: 25px;
    background-position: center!important;
    margin-right: -5px;
  }

  .closeButton:focus {
    box-shadow: none !important;
    outline: none;
  }

  .sidebarHeader[embeddedService-chatHeader_chatHeader] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 0 14px;
    height: 50px;
    max-height: 64px;
    background-color: white;
    color: #1A1446;
    font-family: Roboto;
    font-size: 20px;
  }

      h2[embeddedService-chatHeader_chatHeader] {
        padding-left: 2rem;
      }

      .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent a {
        color: #1a1446 !important;
      }
      p.text.announcement, .text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement]{
        background: #fff;
        width: 90%;
        margin: 5%;
        font-size: .9rem;
        line-height: 1.3rem;
        color: #1b1445;
        border-radius: 6px;
      }

</style>
<script type='text/javascript'>
       function onBodyLoaded() {
           /**
             * Toggles the inert attribute on background content for the page.
             * The inert attribute just needs to be set on parent level DOM
             * nodes. Inert will set the DOM node aria-hidden attribute and
             * and set tab-index="-1" on all children so that screen readers
             * can't access the content.
             */
           function toggleInert(disabled) {
               let bodyElem = document.getElementById("body-content");
               if(bodyElem) {
                   bodyElem.inert = disabled;
               }
           }

           // Add hooks to toggle inert on our page when Embedded Chat
           // changes state.
           function addA11yHooks() {
               embedded_svc.addEventHandler('afterMaximize', function(data) {
                   toggleInert(true);
               });
               embedded_svc.addEventHandler('afterDestroy', function(data) {
                   toggleInert(false);
               });
               embedded_svc.addEventHandler('afterMinimize', function(data) {
                   toggleInert(false);
               });
           }

           // Early out for desktop.
           if(embedded_svc.isDesktop()) {
               return;
           }

           // Add hooks for mobile.
           addA11yHooks();
       }
   </script>
  </head>
  <body{{ attributes }} onload="onBodyLoaded()">

  {% if AH_SITE_ENVIRONMENT == 'prod' %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QD9FLJ"
<<<<<<< HEAD
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
=======
      height="0" width="0" style="display:none;visibility:hidden" title=""></iframe></noscript>
>>>>>>> main
      <!-- End Google Tag Manager (noscript) -->
  {% endif %}
    <div id="skip">
      <a  class="visually-hidden focusable skip-link" href="#content">
        {{ 'Skip to content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}"></js-bottom-placeholder>
<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
        var initESW = function(gslbBaseURL) {
        embedded_svc.settings.displayHelpButton = true;
        embedded_svc.settings.language = 'es';
        embedded_svc.settings.widgetHeight = '550px';
        //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Establece el dominio para su desarrollo de modo que los visitantes puedan navegar por subdominios durante una sesión de chat)
        embedded_svc.settings.enabledFeatures = ['LiveAgent'];
        embedded_svc.settings.entryFeature = 'LiveAgent';
        embedded_svc.settings.autoOpenPostChat = true;
        embedded_svc.settings.defaultMinimizedText = "Chat";
        embedded_svc.settings.disabledMinimizedText = "Chat inactivo";
        embedded_svc.settings.loadingText = "Chat";
        embedded_svc.settings.avatarImgURL = "/themes/custom/liberty_public/images/logo-chat.svg";
        embedded_svc.addEventHandler("afterDestroy", function(data) {
          var element = document.querySelector('#block-buscasayuda ul.menu li:nth-child(4)');
          var elementBu = document.querySelector('.helpButton');
          console.log('afterDestroy');
          element.classList.remove("is-hidden");
          elementBu.classList.add("d-none");
        });
        embedded_svc.addEventHandler("afterMinimize", function(data) {
          var element = document.querySelector('#block-buscasayuda ul.menu li:nth-child(4)');
          var elementBu = document.querySelector('.helpButton');
          console.log('afterMinimize');
          element.classList.remove("is-hidden");
          elementBu.classList.add("d-none");
        });

        embedded_svc.settings.extraPrechatFormDetails = [
                    {
                        "label":"Origin",
                        "value":"Chat Servicio",
                        "displayToAgent": true
                    },
                    {
                        "label":"RecordTypeId",
                        "value":"{{ CHAT_RECORD_TYPE_ID }}",
                        "transcriptFields":["RecordTypeId"],
                        "displayToAgent": true
                    },
                    {
                        "label":"Nombre Completo",
                        "transcriptFields":["Nombre__c"],
                        "displayToAgent": true
                    },
                    {
                        "label":"Tipo identificación",
                        "transcriptFields":["LGM_TipIdentificacion__c"],
                        "displayToAgent": true
                    },
                    {
                        "label":"Número de identificación",
                        "transcriptFields":["Numero_de_identificacion__c"],
                        "displayToAgent": true
                    },
                    {
                        "label":"Correo electrónico",
                        "transcriptFields":["Correo_Electronico__c"],
                        "displayToAgent": true
                    },
                    {
                        "label":"Teléfono Celular",
                        "transcriptFields":["Telefono_Celular__c"],
                        "displayToAgent": true
                    },
                    {
                          "label": "Pais",
                          "value": "COLOMBIA",
                          "transcriptFields":["LGM_Pais__c"],
                          "displayToAgent": true
                    },
                    {
                          "label": "Intermediario",
                          "value": "false",
                          "displayToAgent": true
                    }

            ];
            embedded_svc.settings.extraPrechatInfo = [

                   {"entityFieldMaps":[
                       {"doCreate":false,
                       "doFind":false,
                       "fieldName":"LastName",
                       "isExactMatch":true,
                       "label":"Apellidos"},
                       {"doCreate":false,
                       "doFind":false,
                       "fieldName":"FirstName",
                       "isExactMatch":true,
                       "label":"Nombre"},
                       {"doCreate":false,
                       "doFind":false,
                       "fieldName":"Email",
                       "isExactMatch":true,
                       "label":"Correo electrónico"}],
                       "entityName":"Contact",
                       "saveToTranscript":"Contact",
                       "showOnCreate":true},

                   {'entityName':'Account',
                    'showOnCreate':true,
                    'saveToTranscript':'AccountId',
                    'entityFieldMaps':[{
                        'isExactMatch':true,
                        'fieldName':'Tipo_de_identificacion__c',
                        'doCreate':false,
                        'doFind':true,
                        'label':'Tipo identificación'
                    },{
                        'isExactMatch':true,
                        'fieldName':'Numero_de_identificacion__c',
                        'doCreate':false,
                        'doFind':true,
                        'label':'Número de identificación'
                    },{
                        'isExactMatch':true,
                        'fieldName':'Telefono_Celular__c',
                        'doCreate':false,
                        'doFind':true,
                        'label':'Teléfono'
                    },{
                        'isExactMatch':true,
                        'fieldName':'LGM_Pais__c',
                        'doCreate':false,
                        'doFind':true,
                        'label':'Pais'
                    },
                    {
                        'isExactMatch':true,
                        'fieldName':'Intermediario__c',
                        'doCreate':false,
                        'doFind':true,
                        'label':'Intermediario'
                    }
                    ]},{
                      "entityName": "LiveChatTranscriptFile__c",
                      "saveToTranscript": "Archivo_Transcript__c",
                      "showOnCreate":false,
                      "entityFieldMaps": [{
                        "isExactMatch": true,
                        "fieldName": "Origen__c",
                        "doCreate": true,
                        "doFind": false,
                        "label": "Origin"
                      }]
                    }
                    ];

        {% set salesforce_url = CHAT_SALESFORCE_URL%}
        {% set chat_url = CHAT_URL %}
        {% set chat_id = CHAT_ID %}
        {% set base_live_agent_content_url = CHAT_BASE_LIVE_AGENT_CONTENT_URL %}
        {% set button_id = CHAT_BUTTON_ID %}
        {% set base_live_agent_url = CHAT_BASE_LIVE_AGENT_URL %}
        {% set esw_live_agent_name = CHAT_ESW_LIVE_AGENT_NAME %}
        {% set chat_set_attribute = CHAT_SET_ATTRIBUTE %}

        embedded_svc.init(
            "{{ salesforce_url }}",
            "{{ chat_url }}",
            gslbBaseURL,
            "{{ chat_id }}",
            'ChatServicio',
            {
                baseLiveAgentContentURL: "{{ base_live_agent_content_url }}",
                deploymentId: '5724A0000000vSr',
                buttonId: "{{ button_id }}",
                baseLiveAgentURL: "{{ base_live_agent_url }}",
                eswLiveAgentDevName: "{{ esw_live_agent_name }}",
                isOfflineSupportEnabled: false
            }
        );

    };

    if (!window.embedded_svc) {
        var s = document.createElement('script');
        s.setAttribute('src', "{{ chat_set_attribute }}");
        s.onload = function() {
            initESW(null);
        };
        document.body.appendChild(s);
    } else {
        initESW('https://service.force.com');
    }
  </script>
  </body>
</html>
