{% set block__base_class = 'contact-block' %}

<div {{ bem(block__base_class) }}>
    <div {{ bem('content', [], block__base_class) }}>
        {# <div {{ bem('first', [], block__base_class) }}>
            {% if card__heading %}
            {{ title_prefix }}
            {% include "@atoms/text/headings/_heading.twig" with {
                heading_base_class: card__heading__base_class|default('heading'),
                heading_modifiers: card__heading__modifiers,
                heading_blockname: card__base_class,
                heading_level: 2,
                heading: card__heading,
                heading_url: card__heading__link|default(card__link__url),
                heading_link_base_class: card__heading__link_base_class|default('heading-link'),
                heading_link_blockname: card__base_class,
            } %}
            {{ title_suffix }}
            {% endif %}
            {% if contact__text %}
            <div {{ bem('first-text', [], block__base_class) }}>
                {{ contact__text }}
            </div>
            {% endif %}
        </div> #}
        <div {{ bem('second', [], block__base_class) }}>
            {% if card__heading_second %}
                {{ title_prefix }}
                {% include "@atoms/text/headings/_heading.twig" with {
                    heading_base_class: card__heading__base_class|default('heading'),
                    heading_modifiers: card__heading__modifiers,
                    heading_blockname: card__base_class,
                    heading_level: 3,
                    heading: card__heading_second,
                    heading_url: card__heading__link|default(card__link__url),
                    heading_link_base_class: card__heading__link_base_class|default('heading-link'),
                    heading_link_blockname: card__base_class,
                } %}
            {{ title_suffix }}
            {% endif %}
            {% if contact__phone %}
                <div {{ bem('phone', [], block__base_class) }}>
                    {{ contact__phone }}
                </div>
            {% endif %}
            {% if contact__bottom %}
                <div {{ bem('bottom', [], block__base_class) }}>
                    {{ contact__bottom }}
                </div>
            {% endif %}
        </div>    
    </div>
</div>