<div class="content-wrapper blog-news">
    <a href="{{ url }}">
        <div class="field field-image">
            {{ content.field_big_image }}
        </div>
        
        <div class="text-container">

            <div class="field-category">
                {{ content.field_category[0]['#plain_text'] }}
            </div>       
            <div class="field-label">
                {{ node.label }}
            </div>
                <div class="field-summary">
                    {{ content.body[0]['#text']|truncate(50, false, ' ...') }}
                </div>
                         <span class="blog-news__link link">Leer más</span>


        </div>
    </a>
</div>
