<div class="content-wrapper">
    <div class="field field-image">
        {{ content.field_big_image }}
    </div>
    <div class="field-category">
        {{ content.field_category }}
    </div>
    {% if title_prefix or title_suffix or display_submitted or unpublished or (not page and label) %}
    {{ title_prefix }}

    {% if not page and label %}
    <h3{{ title_attributes }}>
        <a href="{{ url }}">{{ label }}</a>
        </h3>
        {% endif %}
        {{ title_suffix }}
        {% endif %}
        <div class="field-summary">
            {{ content.body|field_value }}
        </div>
        <a href="{{ url }}" class="button button-secondary button--small">Leer más</a>
</div>